@{
    ViewBag.Title = "RoleIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="spacerBody">
    <h2>Role index</h2>
    <p>
        @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")
    </p>
    <table class="table">
        <tr>
            <th>
                Rollen
            </th>
            <th>
                Delete
            </th>
        </tr>
        @foreach (string s in Model)
        {
        <tr>
            <td>
                @s
            </td>
            <td>
                <span onclick=" return confirm('Are you sure to delete?') ">
                    <a href="/Account/RoleDelete?RoleName=@s" class="delLink">Delete</a>
                </span>
            </td>
        </tr>
         }
    </table>
</div>