@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>Kippenbout<br>
    Horizon College, ---<br>+31623615723</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Mark@Starwave.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Kippenbout.com</a>
    <br/>
    <a href="#MarkDeHaan" target="_blank"><img src="http://i212.photobucket.com/albums/cc190/Diamondust25/DancingChicken.gif" border="0" alt="dancingf" /></a>
</address>